<%= stylesheet_link_tag "style" %>

<script type="text/javascript">

	$(document).ready(function() {
		$('#submitform').ajaxForm({
			target: '#error',
			success: function() {
			$('#error').fadeIn('slow');
			}
		});
	});

</script>



<% form_for :user,  :url => users_path, :id=> 'submitform', :html => { :multipart => true } do |f| -%>

<p><%= label_tag 'name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'email_id' %><br/>
<%= f.text_field :email_id %></p>

<p><%= submit_tag 'Create' %></p>

<% end -%>